# Demographic Data Analyzer

In [1]:
import pandas as pd

## Data Selection

In [2]:
df = pd.read_csv("adult.data.csv")
def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv("adult.data.csv")

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Data Cleaning

Cleaning of data is undertaken as I perform operations and get error due to the data in the CSV. The data is cleaned based on the error.

In [4]:
# Find NaN
nan_df = df[df.isna().any(axis=1)]
display(nan_df.head())

# Drop NaN rows
df = df.dropna(how="all")
df.head()

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, salary]
Index: []

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Data Analysis

#### 1: How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [48]:
race_count = df.groupby("race")["race"].count().sort_values(ascending=False)
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

#### 2: What is the average age of men?

In [6]:
average_age_by_sex = df.groupby("sex")["age"].mean().round(1)
average_age_by_sex

sex
Female    36.9
Male      39.4
Name: age, dtype: float64

In [7]:
average_age_men = df[df["sex"] == "Male"]["age"].mean()
average_age_men = round(average_age_men, 1)
average_age_men

39.4

#### 3. What is the percentage of people who have a Bachelor's degree?

In [8]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [45]:
# Granularised
# percentage_bachelors = (len(df[df["education"] == "Bachelors"]) / len(df)) * 100
# percentage_bachelors = round(percentage_bachelors, 2)

percentage_bachelors = round(len(df[df['education'] == 'Bachelors']) / len(df) * 100, 1)

print(f"The percentage of people with a Bachelor's degree is {percentage_bachelors}%.")

The percentage of people with a Bachelor's degree is 16.4%.

#### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
#### What percentage of people without advanced education make more than 50K?

In [10]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
bachelor = df[df["education"] == "Bachelors"]["education"].count()
bachelor

5355

In [12]:
bachelor_rich = df[(df["education"] == "Bachelors") & (df["salary"] == ">50K")]["education"].count()
bachelor_rich

2221

In [13]:
master = df[df["education"] == "Masters"]["education"].count()
master

1723

In [14]:
master_rich = df[(df["education"] == "Masters") & (df["salary"] == ">50K")]["education"].count()
master_rich

959

In [15]:
doctorate = df[df["education"] == "Doctorate"]["education"].count()
doctorate

413

In [16]:
doctorate_rich = df[(df["education"] == "Doctorate") & (df["salary"] == ">50K")]["education"].count()
doctorate_rich

306

#### 4. With and without `Bachelors`, `Masters`, or `Doctorate`

In [63]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [50]:
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [64]:
higher_education_rich = higher_education[higher_education['salary'] == '>50K']['salary'].count() / higher_education.shape[0] * 100
higher_education_rich = round(higher_education_rich, 1)
higher_education_rich

46.5

In [68]:
lower_education_rich = lower_education[lower_education['salary'] == '>50K']['salary'].count() / lower_education.shape[0] * 100
lower_education_rich = round(lower_education_rich, 1)
lower_education_rich

17.4

#### 5. Percentage with salary >50K

In [23]:
higher_education_rich_count = bachelor_rich + master_rich + doctorate_rich
higher_education_rich_count

3486

In [24]:
total_rich_count = len(df["salary"] == ">50K")
total_rich_count

32561

In [25]:
lower_education_rich_count = total_rich_count - higher_education_rich_count
lower_education_rich_count

29075

In [26]:
higher_education_rich = round((higher_education_rich_count / total_rich_count) * 100, 2)
higher_education_rich

10.71

In [27]:
lower_education_rich = round((lower_education_rich_count / total_rich_count) * 100, 2)
lower_education_rich

89.29

In [28]:
# Check:
print(higher_education_rich + lower_education_rich)

100.0

#### 6. What is the minimum number of hours a person works per week (hours-per-week feature)?

In [29]:
min_work_hours = df["hours-per-week"].min()
min_work_hours

1

#### 7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [30]:
# How many people are working 1 hr a week.
num_min_workers = len(df[df['hours-per-week'] == min_work_hours])
num_min_workers

20

In [31]:
# rich_percentage = (df[(df["hours-per-week"] == 1) & (df["salary"] == ">50K")]["hours-per-week"].count() / num_min_workers) * 100
rich_percentage = round(len(df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')]) / num_min_workers * 100, 2)
rich_percentage

10.0

There are no people who work the minimum number of hours per week (1) and have a salary of more than 50K. Therefore, there is no percentage.

#### 8. What country has the highest percentage of people that earn >50K and what is that percentage?

In [32]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [33]:
all_countries = df[["salary", "native-country"]]
all_countries

      salary native-country
0      <=50K  United-States
1      <=50K  United-States
2      <=50K  United-States
3      <=50K  United-States
4      <=50K           Cuba
...      ...            ...
32556  <=50K  United-States
32557   >50K  United-States
32558  <=50K  United-States
32559  <=50K  United-States
32560   >50K  United-States

[32561 rows x 2 columns]

In [34]:
entire_countries_grouped = all_countries.groupby(["native-country"]).count()

In [35]:
over_50K = all_countries[all_countries["salary"] == ">50K"]

In [36]:
over_50K = over_50K.groupby(["native-country"]).count()

In [37]:
over_50K = (over_50K *100) / entire_countries_grouped

In [38]:
over_50K.sort_values(by=['salary'], inplace=True, ascending=False)

In [39]:
table = pd.Series(over_50K["salary"])

In [40]:
highest_earning_country = table.index[0]
highest_earning_country

'Iran'

In [41]:
highest_earning_country_percentage = round(table.values[0], 1)
highest_earning_country_percentage

41.9

#### 9. Identify the most popular occupation for those who earn >50K in India.

In [42]:
table_india_occupation = df[(df['salary'] == '>50K') & (df['native-country'] == 'India')]
table_india_occupation.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
968,48,Private,164966,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
1327,52,Private,168381,HS-grad,9,Widowed,Other-service,Unmarried,Asian-Pac-Islander,Female,0,0,40,India,>50K
7258,42,State-gov,102343,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,72,India,>50K
7285,54,State-gov,93449,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K

In [43]:
grouped_salary_india = table_india_occupation.groupby(["occupation"])["occupation"].count().sort_values(ascending=False)
grouped_salary_india

occupation
Prof-specialty      25
Exec-managerial      8
Tech-support         2
Other-service        2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64

In [44]:
top_IN_occupation = grouped_salary_india.index[0]
top_IN_occupation

'Prof-specialty'